<div class="user-details">
  <h1>Developer Bio</h1>

  <p><b>I started programming with my best friend in primary school.</b> Back in 1991, we were coding music and simple games in BASIC for the Commodore 64. Later, while studying Political Science and Philosophy, I began freelancing in web development. I have been crafting websites since the early 2000s, and I still remember the shock when CSS was introduced.</p>

  <p><b>Today, I specialize in JavaScript technologies (React, Node.js, Three.js, TypeScript, Vue.js, Angular, etc.)</b>, having been part of the tech industry since 2014. Over the past decade, I have worked both as a freelancer and within respected companies.</p>

  <p>I am also the founder of <a href="https://skolakoda.github.io/">School of Code</a> in Belgrade, where we offer specialized training for individuals and companies.</p>

  <img class="img-about" alt="Damjan Pavlica" src="/assets/img/damjan-pavlica.jpg" />
</div>
