<div class="user-details">
  <h1>Portfolio</h1>
  <style>
    img {
      max-width: 100%;
    }
  </style>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ '/assets/img/kjarni.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Kjarni (ERP software solution)</h3>
    <ul>
      <li>React, Ant Design, data visualization</li>
    </ul>
    <p>I developed custom ERP and HR software solutions for internal company use, as well as other applications for various clients.</p>
    <a class="project-link" href="#">Not available to the public</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ '/assets/img/midjan.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Miðjan (shipping software)</h3>
    <ul>
      <li>React, Ant Design, .NET, C#, data visualization, unit tests, test automation</li>
    </ul>
    <p>I developed Miðjan shipping software for sending and tracking packages, used in Iceland.</p>
    <a class="project-link" href="#">Not available to the public</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ '/assets/img/fps-airport.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>First Person Shooter</h3>
    <ul>
      <li>Three.js, 3D Game Development</li>
    </ul>
    <p>I developed this game as part of my long-time hobby.</p>
    <a class="project-link" href="https://create-3d-worlds.github.io/examples/80-scenes/fps-airport/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ '/assets/img/moon-landing.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Moon Landing</h3>
    <ul>
      <li>Three.js, 3D Game Development</li>
    </ul>
    <p>I developed this game as part of my long-time hobby.</p>
    <a class="project-link" href="https://create-3d-worlds.github.io/examples/80-scenes/moon-landing/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ '/assets/img/random-boxes.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>3D Platform Game</h3>
    <ul>
      <li>Three.js, 3D Game Development</li>
    </ul>
    <p>I developed this game as part of my long-time hobby.</p>
    <a class="project-link" href="https://create-3d-worlds.github.io/examples/80-scenes/random-boxes/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ '/assets/img/rpg-fantasy.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>RPG Fantasy Game</h3>
    <ul>
      <li>Three.js, 3D Game Development</li>
    </ul>
    <p>I developed this game as part of my long-time hobby.</p>
    <a class="project-link" href="https://create-3d-worlds.github.io/examples/80-scenes/rpg-fantasy/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ '/assets/img/playerhunter.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Playerhunter</h3>
    <ul>
      <li>Angular 5, TypeScript, RxJS, Observables, NgRx</li>
    </ul>
    <p>I developed a sports social network, implementing core social network functionalities: like, share, post, and more. I communicated with the backend API and continuously updated the application's state.</p>
    <a class="project-link" href="https://playerhunter.com/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ '/assets/img/burda2.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Burda Style</h3>
    <ul>
      <li>ES6, Sass, JavaScript, Drupal, Twig, PHP</li>
    </ul>
    <p>Our client, the famous German fashion house Burda, wanted a new modern, responsive, pixel-perfect, and beautiful website.</p>
    <p>I led the Front-end team on the project. It was a great experience working with some of the world's best designers.</p>
    <a class="project-link" href="https://www.burdastyle.de/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="https://raw.githubusercontent.com/skolakoda/programming-quotes/master/screen.png" />
  </div>
  <div class="contents">
    <h3>Programming Quotes</h3>
    <ul>
      <li>React, Node.js, MongoDB, RESTful API</li>
    </ul>
    <p>Programming Quotes is an open-source app and database. It is my largest open-source project.</p>
    <a class="project-link" href="https://skolakoda.github.io/programming-quotes/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ '/assets/img/parasail.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Parasail Health</h3>
    <ul>
      <li>React.js, Redux, TypeScript, Webpack</li>
    </ul>
    <p>The client wanted a React.js application for patients to apply for health loans. I worked on this project as an employee of Itekako Inc.</p>
    <a class="project-link" href="https://www.parasail.com/apply">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ '/assets/img/psiholjub.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Psiholjub</h3>
    <ul>
      <li>WordPress, CSS, Responsive Design</li>
    </ul>
    <p>I built a child theme in WordPress using CSS and JavaScript, deployed files to a server, and optimized page loading speed.</p>
    <a class="project-link" href="http://www.psiholjub.com/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="https://raw.githubusercontent.com/skolakoda/spomenici/master/screen.png" />
  </div>
  <div class="contents-right">
    <h3>Monuments App</h3>
    <ul>
      <li>Google Maps API, ES6</li>
    </ul>
    <p>A map of Yugoslav WWII monuments. One of the applications from my programming workshops in Belgrade.</p>
    <a class="project-link" href="https://mudroljub.github.io/spomenici/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ '/assets/img/prager.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Prager Dreifuss</h3>
    <ul>
      <li>AngularJS, WordPress, Responsive Design</li>
    </ul>
    <p>I worked on this project as an employee of Spoiled Milk. I built front-end pages in WordPress using HTML5 and JS. The client requested advanced real-time search functionality, which I implemented using AngularJS.</p>
    <a class="project-link" href="https://www.prager-dreifuss.com">Check it out</a>
  </div>
</div>
